.cvtemplatewithphoto
{
background-color:#ffffff;
height:444px;
width:563px;
padding:0px;
left:1529px;
position:relative;
}
.sidebar
{
background-color:#ffffff;
height:444px;
width:210px;
padding:0px;
}
.rectangle1
{
background-color:#5987d2;
height:842px;
width:210px;
}
.content
{
height:404px;
width:186px;
padding:0px;
display:flex;
flex-direction:column;
gap:20px;
left:12px;
top:31px;
position:relative;
}
.avatar
{
background-color:#c4c4c4;
height:100px;
width:100px;
border-radius:50%;
}
.title
{
height:42px;
width:186px;
padding:0px;
display:flex;
flex-direction:column;
top:120px;
position:relative;
}
.marccarofigueras
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:Poppins;
line-height:auto;
width:179px;
}
.softwaredeveloper
{
color:#c3c1c1;
text-align:center;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
line-height:auto;
top:27px;
left:0px;
position:absolute;
width:98px;
}
.personalinformation
{
height:116px;
width:186px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
top:182px;
position:relative;
}
.frame2
{
background-color:#e5e5e5;
height:23px;
width:186px;
border-radius:4px;
padding-left:8px;
padding-right:8px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:relative;
}
.girona20/10/2001
{
color:#5987d2;
text-align:center;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
align-self:flex-start;
left:8px;
top:4px;
position:absolute;
line-height:auto;
width:89px;
}
.frame3
{
background-color:#e5e5e5;
height:23px;
width:186px;
border-radius:4px;
padding-left:8px;
padding-right:8px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:31px;
left:0px;
}
.7
{
color:#5987d2;
text-align:center;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
align-self:flex-start;
left:8px;
top:4px;
position:absolute;
line-height:auto;
width:64px;
}
.frame4
{
background-color:#e5e5e5;
height:23px;
width:186px;
border-radius:4px;
padding-left:8px;
padding-right:8px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:62px;
left:0px;
}
.marccaro@protonmail.com
{
color:#5987d2;
text-align:center;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
align-self:flex-start;
left:8px;
top:4px;
position:absolute;
line-height:auto;
width:141px;
}
.frame5
{
background-color:#e5e5e5;
height:23px;
width:186px;
border-radius:4px;
padding-left:8px;
padding-right:8px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:93px;
left:0px;
}
.girona2
{
color:#5987d2;
text-align:center;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
align-self:flex-start;
left:8px;
top:4px;
position:absolute;
line-height:auto;
width:34px;
}
.skills
{
height:86px;
width:186px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
top:318px;
position:relative;
}
.skills2
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:12px;
font-family:Poppins;
line-height:auto;
width:31px;
}
.englishlevel:b2drivinglicensemechanographytitle
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
line-height:auto;
top:26px;
left:0px;
position:absolute;
width:186px;
}
.main
{
background-color:#ffffff;
height:435px;
width:353px;
padding:0px;
left:210px;
position:relative;
}
.rectangle2
{
background-color:#ffffff;
height:842px;
width:390px;
}
.content2
{
height:228px;
width:321px;
padding:0px;
display:flex;
flex-direction:column;
gap:20px;
left:32px;
top:32px;
position:relative;
}
.about
{
height:72px;
width:321px;
padding:0px;
display:flex;
flex-direction:column;
gap:12px;
}
.frame15
{
height:24px;
width:37px;
padding:0px;
display:flex;
flex-direction:column;
gap:4px;
}
.about2
{
color:#233a5f;
text-align:center;
vertical-align:text-top;
font-size:12px;
font-family:Poppins;
line-height:auto;
width:37px;
}
.rectangle3
{
background-color:#233a5f;
height:2px;
width:32px;
border-radius:4px;
}
.studentwithgoodcommandofenglishandwithgreatmotivationforanyworkandlearn.
{
color:#868686;
text-align:left;
vertical-align:text-top;
font-size:8px;
font-family:Poppins;
line-height:auto;
width:321px;
}
.education
{
height:136px;
width:321px;
padding:0px;
display:flex;
flex-direction:column;
gap:12px;
top:92px;
position:relative;
}
.title3
{
height:24px;
width:62px;
padding:0px;
display:flex;
flex-direction:column;
gap:4px;
}
.education2
{
color:#233a5f;
text-align:center;
vertical-align:text-top;
font-size:12px;
font-family:Poppins;
line-height:auto;
width:62px;
}
.rectangle32
{
background-color:#233a5f;
height:2px;
width:32px;
border-radius:4px;
}
.list1
{
height:30px;
width:321px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:24px;
position:absolute;
top:36px;
left:0px;
}
.-2018
{
color:#2a2a2a;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
line-height:auto;
width:48px;
}
.detail
{
height:16px;
width:249px;
align-self:flex-start;
left:72px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:4px;
}
.frame18
{
height:16px;
width:16px;
padding:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:relative;
}
.ellipse1
{
background-color:#e5e5e5;
height:8px;
width:8px;
top:4px;
left:4px;
position:absolute;
border-radius:50%;
}
.frame19
{
height:15px;
width:229px;
align-self:flex-start;
left:20px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:4px;
}
.eso
{
color:#2a2a2a;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
line-height:auto;
width:229px;
}
.list3
{
height:30px;
width:321px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:24px;
position:absolute;
top:78px;
left:0px;
}
.-2020
{
color:#2a2a2a;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
line-height:auto;
width:52px;
}
.detail2
{
height:16px;
width:245px;
align-self:flex-start;
left:76px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:4px;
}
.frame182
{
height:16px;
width:16px;
padding:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:relative;
}
.ellipse12
{
background-color:#e5e5e5;
height:8px;
width:8px;
top:4px;
left:4px;
position:absolute;
border-radius:50%;
}
.frame192
{
height:15px;
width:225px;
align-self:flex-start;
left:20px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:4px;
}
.batchillerato
{
color:#2a2a2a;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
line-height:auto;
width:225px;
}
.list2
{
height:16px;
width:321px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:24px;
position:absolute;
top:28px;
left:0px;
}
.-now
{
color:#2a2a2a;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
line-height:auto;
width:52px;
}
.detail3
{
height:16px;
width:245px;
align-self:flex-start;
left:76px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:4px;
}
.frame183
{
height:16px;
width:16px;
padding:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:relative;
}
.ellipse13
{
background-color:#e5e5e5;
height:8px;
width:8px;
top:4px;
left:4px;
position:absolute;
border-radius:50%;
}
.frame193
{
height:15px;
width:225px;
align-self:flex-start;
left:20px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:4px;
}
.softwareengineerudg
{
color:#2a2a2a;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Poppins;
line-height:auto;
width:225px;
}
